{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<div class="container py-5" style="max-width: 460px;">
  <div class="card-csss p-4">
    <h4 class="display-font text-primary mb-4">Change Password</h4>
    <form method="POST" novalidate>
      {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.current_password.label(class="form-label") }}
        {{ form.current_password(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.new_password.label(class="form-label") }}
        {{ form.new_password(class="form-control") }}
      </div>
      <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
      </div>
      {{ form.submit(class="btn btn-primary w-100") }}
    </form>
  </div>
</div>
{% endblock %}
